[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AdaSampling"]
	path = AdaSampling
	url = https://github.com/pyanglab/adasampling
[submodule "ClueR"]
	path = ClueR
	url = https://github.com/pyanglab/cluer
[submodule "directPA"]
	path = directPA
	url = https://github.com/pyanglab/directpa
